@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

*,
*:before,
*:after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
}

.bg-blue {
  background-color: #0A446B;
}

.content {
  margin: 0 auto;
  width: 90%;
}

.title {
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
}

.text-aqua {
  color: #137FC0;
}

.text-blue  {
  color: #0A446B;
}

.seccion_busqueda {
  padding: 100px 0;
  position: relative;
  /*background-image: url('divider_blue_large.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;*/
}

.text-white {
  color: #FFFFFF;
}

.general-text {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.input-autosuggest {
    width: 500px;
}

.texto_busqueda {
  display: none;
  text-align: right;
  width: 40%;
}


.line-decoration {
  bottom: 0;
  display: block;
  position: absolute;
  top: 99%;
  width: 100%;
}

.filters {
  padding: 50px 0;
}

.selectize-input {
  color: #0A446B !important;
  border: 1px solid;/*none !important;*/
  font-weight: 800 !important;
  font-size: 21px !important;
  letter-spacing: 0.05em !important;
  line-height: 1 !important;
  margin: 0 !important;
  padding: 0 !important;
  text-transform: uppercase !important;
}

.items-start {
  align-items: flex-start;
}

.filter-output {
  margin-bottom: 11px;
  width: 100%;
}

.titles-filters {
 font-size: 21px;
 font-weight: 400;
 margin: 0 0 12px;
 text-transform: uppercase
}


.selectize-control.single .selectize-input:after {
  top: 6px !important;
  right: 7px !important;
  margin-top: 0px !important;
  border-width: 7px 7px 0 7px !important;
  border-color: #0A446B transparent transparent transparent  !important;
}


.selectize-dropdown-content .active {
 background: #2196f3 !important;
 color: white !important;
}

.input-active {
 background: #2196f3 !important;
 padding: 0px !important;
 margin: 0px !important;
}

.summary {
 background: #F8F8F8;
 box-shadow: inset 0px 3px 3px 0 rgba(0,0,0, 0.1);
 padding: 50px 0px;
}


.results {
  display: grid;
  grid-template-columns: 0.6fr minmax(0,0.4fr);;
  /*grid-template-rows: repeat(4, 1fr);*/
  grid-template-areas: "red info"
                       "red datos" 
                       "red secop"
                       "red otros"
                       "tabla tabla";
 grid-gap: 25px;
}


.red {
  grid-area: red;
}

.candidato {
 grid-area: info;  
}

.contributor {
  grid-area: datos;
}

.contracting {
  grid-area: secop;
}


.others {
  grid-area: otros;
}


.table {
  grid-area: tabla;
}


.panel {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0 rgba(0,0,0, 0.1);
  padding: 25px;
  min-width: 0;
  min-height: 0;
  overflow-x: auto;
}

#candidato_info,#otros_candidatos {
  height: 110px !important;
} 

#ficha_contrata {
  height: 85px !important;
} 

#ficha_financiador {
  height: 130px;
}

.max-sev {
  width: 70%;
}

.candidato-general,.candidato-elegido,.financiador-general,.financiador-elegido{
  display: flex;
}

h4 {
 color: #cccccc;
 letter-spacing: 0.05em !important;
 margin: 0px 0px 5px !important;
 text-transform: uppercase !important;
}

.info-ficha {
 color: #0A446B;
 margin: 0 auto;
 text-align: center;
 width: 65%;
}

#otros_candidatos {
 display: inline-flex;  
 align-items: center;
}

.others-info {
  background-color: #0A446B;
  border: none;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  width: 100px;
  height: 100px;
  margin-right: 3px;
  outline: none;
  cursor: pointer;
}

.inp-i {
  margin-bottom: 13px;
}



.ficha-titulos {
  color: #0A446B;
  font-size: 15px;
  font-weight: 400;
}

.ficha-results {
  color: #0A446B;
  font-size: 17px;
  font-weight: 800;
}

.contratos-info {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 10px;
}


.click_ficha {
  border: none;
  background: #137FC0;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
  padding: 10px;
}



thead {
  color: #0A446B;
  font-size: 15px;
   font-weight: 400;
}

tbody {
  color: #0A446B;
  font-size: 17px;
}

td,th {
  text-align: left !important;
}

table {
  width: 100%;
  margin-right: auto;
  margin-left: 0px;
}


::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track{
  background: #e2eaed;
}

::-webkit-scrollbar-thumb{
  background: #0a446b;
}

::-webkit-scrollbar:focus {
    overflow: scroll;
    display:block;
    background: #0a446b;
}



@media screen and (min-width:768px) {
  
.title {
  font-size: 31px;
}

.filter-output {
  width: 30%;
  margin-bottom: 0px;
}

.selectize-input {
  font-size: 35px !important;
}
}

@media screen and (min-width:992px) {
  .texto_busqueda {
    display: block;
  }
  
}



